.App {
  text-align: center;
  display: grid;
  grid-template-rows: 50px auto fit-content(200px) auto;
  grid-template-columns: auto 80% auto;
  width: 100%;
  height: 100vh;
}

nav{
  grid-row: 1;
  grid-column: 1/ span 3;
  width: 100vw;
  height: 50px;
  background-color: #33a1e0;
  box-shadow: 2px 2px 10px #cbd7da4d;
  display: flex;
  flex-flow: row;

  button{
    align-self: flex-start;
    background: none;
    width: fit-content;
    height: auto;
    margin: auto 0;
    margin-left: 10px;
    border: 0;

    &:hover{
      cursor: pointer;
    }
  }

  h2{
    color: white;
    margin: auto auto;
    
  }
}

#container{
  display: flex;
  flex-flow: column;
  grid-row: 3;
  grid-column: 2;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: calc(100% - 40px);
  padding: 15px 20px;
  box-shadow: 2px 2px 10px #cbd7da4d;

  h2{
    font-weight: 800;
  }

  table{
    width: 100%;
    border-collapse: collapse !important;

    thead{
      th{
        padding: 10px 5px !important;
      }
    }

    
    tbody{
      tr{

        &:hover{
          background-color: #f5f5f5;
          cursor: pointer;
        }
        
        td{
          padding: 10px 5px !important;
        }
      }
    }

    tr {
      border: 1px solid #ddd !important;
      border-left: 0 !important;
      border-right: 0 !important;
      text-align: center;
    }
  }


  .right-aligned-bar{
    align-self: flex-end;
  }


  #field-container{
    display: flex;
    flex-flow: row;;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .tasca-image{
    width: 80%;
    object-fit: contain;
    margin: 20px auto;
    border-radius: 10px;
  }
}
.actions-bar{
  display: flex;
  flex-flow: row;
  margin: 20px 0;

  .btn{
    margin-right: 10px;
  }
}

.txt-field,
.file-field{
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
  padding: 10px 5px;
}

.search-field{
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
  padding: 5px;
  transition: .2s;
  margin-left: auto;

  input{
    border: 0;
    font-size: 15px;
  }
}

.file-field{
  display: flex;
  flex-flow: row;
}

.input-container{
  display: flex;
  flex-flow: column;
  padding: 5px 0;

  label{
    text-align: left;
    margin-left: 5px;
    margin-bottom: 2px;
  }
}

.btn{
  background-color: #33a1e0;
  border-radius: 5px;
  border: 0;
  color: white;
  padding: 10px 15px;
  font-size: 14px;
  transition: .2s;

  &:hover{
    background-color: #33a1e0c4;
    font-weight: 600;
    cursor: pointer;
  }
}

.btn-red{
  background-color: #df3535;

  &:hover{
    background-color: #df3535c4;
  }
}

.btn-secondary{
  background: transparent;
  color: #2490e9;

  &:hover{
    background-color:transparent;
  }
}

.btn-icon{
  background: none;
  border: 0;

  &:hover{
    cursor: pointer;
  }
}

.field-display{
  display: flex;
  flex-flow: column;
  margin: 5px;
  text-align: left;
  width: fit-content;

  .label{
    font-size: 14px;
  }

  .field-value{
    font-size: 20px;
    font-weight: 900;
  }
}

.alert-box{
  position: absolute;
  background-color: #94bacf;
  color: #333;
  border-radius: 10px;
  box-shadow: 2px 4px 10px #22262a3a;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
}