.modal-bg{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #444b4d7d;
    display: grid;
    grid-template-columns: auto 80% auto;
    grid-template-rows: auto fit-content(90%) auto;
    top: 0;
    left: 0;

    
    .modal-container{
        background-color: white;
        border-radius: 10px;
        grid-row: 2;
        grid-column: 2;
        width: calc(100% - 40px);
        height: 100%;
        padding: 10px 20px;
        box-shadow: 2px 2px 10px #2f36385d;
        overflow-y: auto;

        .tasca-form{

            img{
                height: 400px;
            }
        }

        .action-buttons{
            display: flex;
            flex-flow: row-reverse;
            justify-content: space-evenly;
            margin-top: 50px;

            .btn{
                width: 25%;
            }
        }
    }
}